@media screen and (min-width: 1113px) {
  .floating-button {
    height: 70px;
    width: 70px;
    background-color: #59d69a;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 100%;
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 1000;
    border: 1px solid white;
  }
}

.floating-button {
  height: 70px;
  width: 70px;
  background-color: #59d69a;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 100%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  border: 1px solid white;
}

.floating-button :hover {
  cursor: pointer;
}