<div id="total-body">
    <div id="nav">
        <div>
            <img id="logo" src="./../../../../docs/assets/images/logo_pretty.png" alt="">
        </div>
        <div id="actions">
            <a class="icons" style="text-decoration: none;" href="https://github.com/rykelme-stevenn" target="_blank">
                <ng-icon name="bootstrapGithub" class="iconbrand" size="38px"></ng-icon>
            </a>
            <a class="icons" style="text-decoration: none;" href="https://www.linkedin.com/in/rykelme-prado/"
                target="_blank">
                <ng-icon name="bootstrapLinkedin" class="iconbrand" size="38px"></ng-icon>
            </a>
        </div>
    </div>
    <div id="body-menu">
        <h1 id="title">Frontend & Mobile Developer</h1>
        <p id="description">Cada linha de código é uma nova aventura para trilhar.</p>
    </div>
    <div id="dev">
        <img id="gif" src="./../../../../docs/assets/images/searching.gif" alt="">
    </div>
</div>