#body-who {
    height: 2100px;
    text-align: center;
    padding-top: 5%;
    width: 100%;
    margin-bottom: 10%;
}

@media screen and (max-width: 1112px) {

    #describe-who {
        font-weight: 400 !important;
        color: white;
        font-size: 1.4rem;
        width: 95%;

    }

    #title-who {
        font-weight: 800 !important;
        color: white;
        font-size: 1.8rem;
        width: 95%;
    }

    #texts {
        /* margin-left: 20vw; */

        /* width: 100vw; */
        text-align: center;
        margin-bottom: 3%;
        padding-top: 24px;
    }

    #content-text {
        height: 1000px;
        background-color: #59D69A;
    }

    .centralizer {
        width: 100% !important;
        display: flex;
        justify-content: center;
    }
}


@media screen and (min-width: 1113px) {
    #content-text {
        height: 60vh;
        background-color: #59D69A;
    }

    #body-who {
        height: 140vh;
        text-align: center;
        padding-top: 5%;
        width: 100%;
        margin-bottom: 10%;
    }

    #texts {
        margin-left: 20vw;
        width: 60vw;
        text-align: center;
        margin-bottom: 3%;
        padding-top: 24px;
        align-items: center;
    }

    #title-who {
        font-weight: 800 !important;
        color: white;
        font-size: 1.8rem;
        /* width: 60vw; */
        /* display: flex;
        text-align: center; */
    }

    #describe-who {
        font-weight: 400 !important;
        color: white;
        font-size: 1.4rem;
        /* width: 60vw;
        display: flex;
        text-align: center; */
    }

    .centralizer {
        width: 100% !important;
        display: flex;
        justify-content: center;
    }
}