<div id="body-who">
    <div id="content-text">
        <div id="texts">
            <h1 id="title-who" style="color: white;">Olá, eu sou o Rykelme Prado. Prazer em conhecê-lo.</h1>
            <p id="describe-who">
                Sou desenvolvedor frontend há mais de {{yearsAgo()}} e atualmente estou no cargo Mobile Developer no time P&D da Linx. Amo tecnologia e resolver problemas dos
                clientes de forma criativa e que atendam aos requisitos. Sinta-se a vontade caso queira bater um papo sobre carreira, tecnologia e mercado, será um prazer.
            </p>
            <p id="describe-who"> Tamo junto 👊!</p>
        </div>
        <app-my-lenguages></app-my-lenguages>
        <br />
    </div>
</div>
